<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="300" android:versionName="3.0.0" package="com.kedzie.vbox">
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application android:debuggable="false" android:icon="@drawable/vbox" android:label="@string/app_name" android:name=".VBoxApplication" android:theme="@style/Theme.Sherlock">
<!-- 		<activity android:label="Test Harness" android:name=".harness.HarnessActivity"> -->
<!-- 			<intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN"/> -->
<!--                 <category android:name="android.intent.category.LAUNCHER"/> -->
<!--             </intent-filter> -->
<!--         </activity> -->
		<activity android:configChanges="orientation" android:label="@string/app_name" android:name=".server.ServerListActivity" android:uiOptions="splitActionBarWhenNarrow">
			<intent-filter>
                	<action android:name="android.intent.action.MAIN"/>
                	<category android:name="android.intent.category.LAUNCHER"/>
            	</intent-filter>
        </activity>
        <activity android:configChanges="orientation" android:label="Edit VirtualBox Server" android:name=".server.EditServerActivity" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:label="Machine List" android:name=".machine.MachineListFragmentActivity" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:configChanges="orientation" android:label="Virtual Machine" android:name=".machine.MachineFragmentActivity" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:configChanges="orientation" android:label="Metrics" android:name=".metrics.MetricActivity" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:configChanges="orientation" android:label="Preferences" android:name=".PreferencesActivity"/>
		<activity android:configChanges="orientation" android:label="Preferences" android:name=".metrics.MetricPreferencesActivity"/>
		<service android:name=".EventNotificationService"/>
		<service android:name=".machine.EventIntentService"/>
    </application>
</manifest>