<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kedzie.vbox"  android:versionCode="5" android:versionName="1.4">

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name" android:icon="@drawable/icon"  android:name="com.kedzie.vbox.VBoxApplication" android:debuggable="false">
		<activity android:name=".server.ServerListActivity" android:label="@string/app_name" >
			<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER" />
            	</intent-filter>
        </activity>
		<activity android:name=".server.EditServerActivity"  android:label="@string/server_edit"></activity>
		<activity android:name=".machine.MachineListActivity"  android:label="@string/machine_list"></activity>
		<activity android:name=".machine.MachineActivity"  android:label="@string/machine"></activity>
		<service  android:name="com.kedzie.vbox.machine.EventService">
		</service>
    </application>
</manifest>
