<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="3003001"
          android:versionName="3.3.1-SNAPSHOT"
          package="com.kedzie.vbox">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".VBoxApplication"
        android:theme="@style/Theme.Sherlock">

        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".server.ServerListFragmentActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:label="Test Harness"
            android:name=".harness.HarnessActivity"
            android:uiOptions="splitActionBarWhenNarrow"/>

        <activity
            android:name=".server.EditServerActivity"
            android:label="@string/edit_virtualbox_server"
            android:configChanges="orientation"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName=".server.ServerListFragmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".server.ServerListFragmentActivity"/>
        </activity>

        <activity
            android:name=".server.HelpActivity"
            android:configChanges="orientation"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/help"
            android:parentActivityName=".server.ServerListFragmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".server.ServerListFragmentActivity"/>
        </activity>

        <activity
            android:name=".machine.MachineListActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName=".server.ServerListFragmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".server.ServerListFragmentActivity"/>
        </activity>

        <activity
            android:name=".host.HostSettingsActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName=".machine.MachineListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".machine.MachineListActivity"/>
        </activity>

        <activity
            android:name=".machine.settings.VMSettingsActivity"
            android:uiOptions="splitActionBarWhenNarrow"/>

        <activity
            android:name=".app.FragmentActivity"
            android:uiOptions="splitActionBarWhenNarrow"/>

        <activity
            android:name=".metrics.MetricActivity"
            android:configChanges="orientation"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="Metrics"/>

        <activity
            android:name=".SettingsActivity"
            android:label="Preferences"/>

        <service android:name=".event.EventIntentService"/>
        <service android:name=".event.EventNotificationService"/>

        <!-- App Widget Declarations -->
        <receiver
            android:label="Virtual Machine (1x3)"
            android:name=".widget.Provider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>

        <service android:name=".widget.UpdateWidgetService"/>

        <activity android:name=".widget.ServerListPickActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name=".widget.MachineListPickActivity"
                  android:configChanges="orientation"/>

    </application>
</manifest>